<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agregar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombres</ion-label>
      <ion-input formControlName="nombres" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input formControlName="apellidos" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input formControlName="direccion" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Celular</ion-label>
      <ion-input formControlName="telefono" type="tel" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!userForm.valid">Agregar Usuario</ion-button>
  </form>
</ion-content>
npm
